<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick And Morty API</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
    <div class="header">
        <span id="title">Rick And Morty</span>
        <span id="subtitle">API</span>
    </div>

    <div class="search">
        <input id="search-bar" placeholder="Rick..." />
        <button id="search-button">Buscar</button>
    </div>

    <div class="result"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/index.js"></script>
</body>
</html>